.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.svg-bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}   

.svg-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hero-text {
    position: absolute;
    right: 10%;
    bottom: 10%;
    text-align: right;
    z-index: 2;
    font-family: 'IBMPlexSansJP', sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
}