.photoWrapper {
    width: 100%;
    max-width: 800px;
    margin: 0rem auto;
    padding: 2.5rem 1.5rem;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.photoImage {

}