.sponsorshipWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2.5rem 1.5rem;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
