.timetableWrapper {
    padding: 2.5rem 1.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.timetable {
    text-align: left;
    background-color: rgba(138, 43, 226, 0.1);
    padding: 1rem 3rem;
    max-width: 700px;
    margin: 2rem auto;
    border-left: 5px solid rgb(138, 43, 226);
    font-size: 1.1rem;
    line-height: 1.8;
}

.timetable > h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}